@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Spartan';
  font-weight: 400;
  src: local('Spartan'), url(./fonts/Spartan_Regular_400.ttf) format('truetype');
}

@font-face {
  font-family: 'Spartan';
  font-weight: 500;
  src: local('Spartan'), url(./fonts/Spartan_Medium_500.ttf) format('truetype');
}

@font-face {
  font-family: 'Spartan';
  font-weight: 700;
  src: local('Spartan'), url(./fonts/Spartan_Bold_700.ttf) format('truetype')
}

@font-face {
  font-family: 'Spartan';
  font-weight: 800;
  src: local('Spartan'), url(./fonts/Spartan_ExtraBold_800.ttf) format('truetype')
}

:root {
  font-family: Spartan, serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.63px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.8px;
}

h2 {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

body-1 {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.25px;
}

body-2 {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.23px;
}
